/* IMPORTS */
/* FONT STYLES */
/* @import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Space+Mono&family=Ubuntu&display=swap'); */

hr {
    border-style: dotted none none;
    border-width: 10px;
    width: 20%;
    margin: auto;
    padding: 10px;
}

#sectionExperience {
    text-align: center;
    background-color: #0A2647;
    color: #2C74B3;
    padding-top: 5%;
    box-shadow: inset 50px 0 100px 0 #0d1eb9 ;
}

.school {
    margin: 3%;
    text-align: right;
}

.yearGraduated {
    font-weight: bold;
}

/* SCHOOL SECTION */
/* ASU & STI */
.asuSchoolLogo{ 
    float: left;
    width: 50%;
    padding: 10px;
}

.schoolLogo{ 
    float: left;
    width: 35%;
    padding: 10px;
}

.schoolName {
    font-family: "Russo One", sans-serif;
    font-size: 3rem;
    text-align: right;
}

.course {
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
}

.schoolDescription {
    font-family: "Space Mono", sans-serif;
    font-size: 1rem;
    padding: 0 3%;
}

/* GENERAL ASSEMBLY AND STI */
.educationProjects {
    color: #2C74B3;
    padding-left: 0;
}

/* GENERAL ASSEMBLY */
.gaSchoolLogo {
    float: right;
    padding: 10px;
}

.gaSchoolName {
    text-align: left;
}

.generalAssembly {
    text-align: left;
}


/* MEDIA LOGO */
@media only screen and (max-width: 600px) {
    .schoolLogo, .gaSchoolLogo {
        width: 100%;
        margin: 15% 0;
    }

    .schoolName {
        text-align: center;
    }

    .school {
        text-align: center;
    }

    .technologies {
        display: block;
    }

    .dataStructureLogo {
        width: 40%;
    }

    #sectionExperience {
        padding-top: 20%;
    }
}

.transitionRight {
    animation: transitionRight 3s;
}

/* TRANSITIONS */
@keyframes transitionRight {
    from {
        width: 0;
    }
    to {
        width: 99%;
    }
}