#sectionWork {
    background-color: #2C74B3;
    color: #0A2647;
    text-align: center;
    padding-top: 3%;
    box-shadow: inset 100px 0 100px 0 #25ceec;
}

/* PROJECT CAROUSEL */

.carousel-inner {
    display: flex;
}

.projectName {
    font-family: "Ubuntu", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    padding: 1% 0;
}

.github {
    color: #2C74B3;
}

.projectImage {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.projectSummary {
    color: #0A2647;
    font-family: "Space Mono", sans-serif;
    font-size: 2rem;
    position: relative;
    margin: auto;
    left: 0;
    padding: 3% 20%;
}

.projectDescription {
    position: relative;
    font-size: 1.5rem;
    color: #0A2647;
}

.projectSkills {
    color: #0A2647;
    display: inline;
    margin: 0 15px;
    text-decoration:underline;
    font-size: 1.5rem;
}

.websiteLink {
    color: #0A2647 !important;
}

.skillsList {
    padding: 2% 3%;
}

/* MOBILE VERSION */
@media only screen and (max-width: 600px) {
    #sectionWork {
        height: 1000px;
    }

    .carousel, .carousel-inner {
        height: 100%;
    }

    .projectImage{
        padding: 5% 3%;
        height: 400px;
    }

    .carousel-item {
        margin: 0;
        padding: 5% 3%;
    }

    .skillsList {
        display: flex;
        flex-wrap: wrap;
    }
}


