/* IMPORTS */
    /* FONT STYLES */
    @import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Space+Mono&family=Ubuntu&display=swap');


.sectionAboutMe {
    padding: 200px 10px 50px;
    background-color: #2C74B3;
    color: #0A2647;
    display: flex;
    box-shadow: inset 100px 0 100px 0 #25ceec ;
    height: 1000px;
}

.aboutme {
    flex-grow: 1;
  
}

.aboutMeName {
    font-family: "Russo One", sans-serif;
    text-align: Center;
    font-size: 6rem;

}

.aboutMeOccupation {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    font-size: 4rem;
}

.introduction {
    width: 80%;
    margin: auto;
    font-family: "Space Mono", sans-serif;
    font-size: 1rem;
    padding: 2% 3%;
    text-align: center;
}

.personalImage {
    margin: auto;
    max-width: 600px;
    border-radius: 100% ;
    margin-top: 50px;
}

@media screen and (max-width: 1100px) {
    .sectionAboutMe {
        height: 1500px;
        padding: 100px 0;
        flex-direction: column;
    }
    .introduction {
        padding: 0;
    }

    .personalImage {
        max-width: 600px;
    }
}


.fadeOut {
    animation: fadeOut 1s ease-in
}

/* TRANSITIONS */

@keyframes fadeOut {
    from {opacity: 0%}
    to { opacity: 100%;}
}

@keyframes slideIn {
    100% { transform: translateX(0%); }
}