/* IMPORTS */
    /* FONT STYLES */
    @import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Space+Mono&family=Ubuntu&display=swap');


.aboutMe {
    padding: 100px 10px 50px;
    background-color: #2C74B3;
    color: #0A2647;
}

.aboutMeName {
    font-family: "Russo One", sans-serif;
    text-align: Center;
    font-size: 6rem;
}

.aboutMeOccupation {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    font-size: 4rem;
}

.introduction {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}