/* Contacts */
a {
    text-decoration: none;
    color: #2C74B3;
    font-size: 2.5rem;
}

a:hover {
    color: white;
}

h1 {
    font-family: "Russo One", sans-serif;
    font-size: 4rem;
    padding: 10px; 
}

h2 {
    font-family: "Ubuntu", sans-serif;
    font-size: 3rem;
}

li {
    list-style: none;
    color: #2C74B3;
    font-family: "Space Mono", sans-serif;
    font-size: 1rem;
    padding: 0 3%;
}

.contacts {
    background-color: #0A2647;
    color: #2C74B3;
    text-align: center;
    padding: 50px;
}

.mailTo {
    font-family: "Ubuntu";
    font-size: 1.5rem;
}

.socialMedia {
    display: flex;
    justify-content: center;
}

.socialMediaItem {
    margin: 3% 5%;
}

/* .social-media, .social-media li, .contact-information li {
    margin: auto;
    text-align: center;
    font-size: 25px;
} */