/* IMPORTS */
/* FONT STYLES */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Space+Mono&family=Ubuntu&display=swap');

#sectionExperience {
    text-align: center;
    background-color: #0A2647;
    color: #2C74B3;
}

.experienceTitle {
    font-family: "Russo One", sans-serif;
    font-size: 4rem;
    padding: 10px;
}

.experienceSubTitle{
    font-family: "Ubuntu", sans-serif;
    font-size: 3rem;
}

.school {
    margin: 3%;
}

.logo {
    width: 10%;
}

/* SCHOOL SECTION */
/* ASU & STI */
.schoolLogo{ 
    float: left;
    width: 50%;
}


/* MEDIA LOGO */
@media only screen and (max-width: 600px) {
    .schoolLogo {
        width: 100%;
        margin: 15% 0;
    }
}