/* IMPORTS */
/* FONT STYLES */
/* @import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Space+Mono&family=Ubuntu&display=swap'); */

hr {
    margin: 0;
    border-style: dotted none none;
    border-width: 10px;
    width: 20%;
    margin: auto;
    padding: 10px;
}

#sectionExperience {
    text-align: center;
    background-color: #0A2647;
    color: #2C74B3;
}

.experienceTitle {
    font-family: "Russo One", sans-serif;
    font-size: 4rem;
    padding: 10px;
}

.experienceSubTitle{
    font-family: "Ubuntu", sans-serif;
    font-size: 3rem;
}

.school {
    margin: 3%;
    text-align: right;
}

.yearGraduated {
    font-weight: bold;
}

/* SCHOOL SECTION */
/* ASU & STI */
.schoolLogo{ 
    float: left;
    width: 50%;
    padding: 10px;
}

.schoolName {
    font-family: "Russo One", sans-serif;
    font-size: 3rem;
    text-align: right;
}

.course {
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
}

.schoolDescription {
    font-family: "Space Mono", sans-serif;
    font-size: 1rem;
    padding: 0 3%;
}

.technologiesTitle {
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
    text-align: center;
}

.technologies{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.technologyContainer {
    margin: 0 20px;
}

.logo {
    width: 30%;
    height: auto;
}

.dataStructureLogo {
    width: 100%;
}

.technologyTitles {
    padding: 2% 3%;
}

/* GENERAL ASSEMBLY AND STI */
.educationProjects {
    color: #2C74B3;
    padding-left: 0;
}

/* GENERAL ASSEMBLY */
.gaSchoolLogo {
    float: right;
    padding: 10px;
}

.gaSchoolName {
    text-align: left;
}

.generalAssembly {
    text-align: left;
}


/* MEDIA LOGO */
@media only screen and (max-width: 600px) {
    .schoolLogo, .gaSchoolLogo {
        width: 100%;
        margin: 15% 0;
    }

    .schoolName {
        text-align: center;
    }

    .school {
        text-align: center;
    }

    .technologies {
        display: block;
    }

    .dataStructureLogo {
        width: 40%;
    }

    .experience {
        padding-top: 30px;
    }
}