/* Header Styles */
header {
 height: 100px;
}

/* Navigation Styles */
.ulNavigation {
    display: flex;
    align-items: center;
}

/* navigation menus */
.ulNavigation li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 20px;
}

/* Nav Bar */
#navbar {
    justify-content: end;
}