/* IMPORTS */
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Space+Mono&family=Ubuntu&display=swap');

/* Header Styles */
header {
 height: 100px;
}

/* Navigation Styles */
.ulNavigation {
    display: flex;
    align-items: center;
}

/* navigation menus */
.ulNavigation li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 20px;
}

/* Nav Bar */
#navbar {
    justify-content: end;
    font-family: 'Russo One', sans-serif;
    font-size: 1.5rem;
}
