#sectionWork {
    background-color: #0A2647;
    color: #2C74B3;
    text-align: center;
    padding-top: 2%;
}

/* PROJECT CAROUSEL */
.projectName {
    font-family: "Ubuntu", sans-serif;
    font-size: 5rem;
}

.github {
    color: #2C74B3;
}

.projectImage {
    padding: 10% 5% 25%;
}

.projectSummary {
    color: #2C74B3;
    font-family: "Space Mono", sans-serif;
    font-size: 2rem;
    top: 0;
    right: 0;
    left: 0;
}

.projectDescription {
    position: absolute;
    padding: 60% 5% 0;
    font-size: 1.5rem;
    color: #2C74B3;
}

.projectSkills {
    color: #2C74B3;
    display: inline;
    margin: 0 15px;
    text-decoration:underline;
}

/* MOBILE VERSION */
@media only screen and (max-width: 600px) {
    .projectSummary{
        all: unset;
    }

    #sectionWork {
        height: 850px;
    }

    .carousel, .carousel-inner {
        height: 100%;
    }

    .projectImage{
        margin: 30px 0;
        padding: 2% 2%;
        position: absolute;
        height: 400px;
    }

    .projectName {
        font-size: 2rem;
    }

    .projectDescription {
        margin: 0;
        padding: 100% 0;
        width: 100%;
    }

    .projectDescription > div > p {
        width: 350px;
        font-size: 1rem;
        margin: auto;
    }
}
