#sectionWork {
    background-color: #0A2647;
    color: #2C74B3;
    text-align: center;
}

.sectionTitle{
    font-family: "Russo One", sans-serif;
    font-size: 4rem;
    padding: 10px;
}

/* PROJECT DIV */
.projectName {
    font-family: "Ubuntu", sans-serif;
    font-size: 3rem;
}

.github {
    color: #2C74B3;
}