#sectionWork {
    background-color: #0A2647;
    color: #2C74B3;
    text-align: center;
}

.sectionTitle{
    font-family: "Russo One", sans-serif;
    font-size: 4rem;
    padding: 10px;
}

/* PROJECT DIV */
.projectName {
    font-family: "Ubuntu", sans-serif;
    font-size: 5rem;
    margin-bottom: 50px;
}

.github {
    color: #2C74B3;
}

.projectContainer {
    display: flex;
    align-items: center;
    padding: 20px;
}

/* PROJECT CAROUSEL */
.projectSummary {
    position: relative;
    margin: 20px auto;
    left: 0;
    font-family: "Space Mono", sans-serif;
    font-size: 2rem;
    text-align: left;
    padding: 2% 3%;
}