.school {
    padding: 5% 3%;
}

.schoolName {
    font-family: "Russo One", sans-serif;
    font-size: 3rem;
}

.course {
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
}

.yearGraduated {
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.courseDescription {
    font-family: "Space Mono", sans-serif;
    font-size: 1rem;
}

.schoolContainerUpper {
    display: flex;
}

.schoolContainerUpperReverse {
    display: flex;
    flex-direction: row-reverse;
}

.schoolLogo {
    max-width: 500px;
    width: 500px;
    margin: auto;
}

.rigthTextAlign {
    text-align: right;
}

/* TECHNOLOGIES */
.technologiesContainer {
    display: flex;
    justify-content: space-around;
}

.technologiesTitle {
    font-family: "Russo One", sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 5% 3%;
}

.technologies{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.technologyContainer {
    margin: 0 20px;
}

.logo {
    width: 150px;
    margin: auto;
}

.dataStructureLogo {
    width: 100%;
}

.technologyTitles {
    padding: 2% 3%;
}


@media only screen and (max-width: 600px) {
    .schoolContainerUpper, .schoolContainerUpperReverse {
        display: inline;
    }
}