.school {
    padding: 5% 3%;
}

.schoolName {
    font-family: "Russo One", sans-serif;
    font-size: 3rem;
}

.course {
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
}

.yearGraduated {
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.courseDescription {
    font-family: "Space Mono", sans-serif;
    font-size: 1rem;
}

.schoolContainerUpper {
    display: flex;
    justify-content: center;
}

.schoolContainerUpperReverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.schoolLogo {
    max-width: 500px;
    width: 500px;
    margin: auto;
}

.rigthTextAlign {
    text-align: right;
}

/* TECHNOLOGIES */
.technologiesContainer {
    display: flex;
    justify-content: space-evenly;
}

.technologiesTitle {
    font-family: "Russo One", sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 5% 3%;
}

.technologyContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 300px;
}

.technologyTitle{
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
    margin-bottom: 0;
    font-style: italic;
}



.logo {
    width: 150px;
    margin: auto;
}

.dataStructureLogo {
    width: 100%;
}

.technologyTitles {
    padding: 2% 3%;
}


@media only screen and (max-width: 1100px) {
    .schoolContainerUpper, .schoolContainerUpperReverse {
        display: inline;
    }

    .rigthTextAlign {
        text-align: center;
    }

}